
Examples_local_python/.ipynb_checkpoints/LightGBM_minimalist_example-checkpoint.ipynb
Examples_local_python/.ipynb_checkpoints/Download_multiple_csvs_from_Hadoop_Selenium-checkpoint.ipynb
Examples_local_python/.ipynb_checkpoints/Jupyter_notebook_autoreload_libraries_and_magics-checkpoint.ipynb

# C extensions
*.so
settings.ini